django
gunicorn
django-heroku
dash
dash-renderer
dash-core-components
dash-html-components
dash-table-experiments 
plotly
numpy
pandas
wordcloud
xlrd
seaborn
cufflinks
dash-bootstrap-components
sqlalchemy
sshtunnel
psycopg2-binary
ConfigParser